name: CI-Go
on: [push, pull_request_target]
jobs:
  build:
    uses: untillpro/ci-action/.github/workflows/ci.yml@main
    with:
      go_race: "true"
      short_test: "false"
    secrets:
      reporeading_token: ${{ secrets.CODECOV_TOKEN }}
